h1 {

    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

* {

    font-family: "Avantgarde", "TeX Gyre Adventor", sans-serif;

}

li{
    padding-bottom: 15px;
}

p img{

    margin-left: 0px;
    margin-right: 0px;
}

.img-link {

    width: 250px;
    height: auto;
    box-shadow: 10px 10px 5px #ccc;
}

.img-full {

    width: 80%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #ccc;
    
}

.centered {

    text-align: center;
}

body {

    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

#home-link {

    display:inline-block;
    padding-top: 20px;

}

a:link {

    text-decoration: none;
}
  
a:visited {

    text-decoration: none;
}
  
a:hover {

    text-decoration: underline;
}
  
a:active {

    text-decoration: underline;
}